$primaryColor: #4527a4;

.wp-block-tsb-team-profile-pro {

	--team_profiles-primary-color: #00325a;
	--team_profiles-secondary-color: #2f2f2f;
	--team_profiles-accent-color: #7ab92d;
	--team_profiles-text-color: #4e5052;
	--team_profiles-bg-light: #f9f9f9;
	--team_profiles-bg-hover: #f7f5ec;

	box-sizing: border-box;
	margin: 0;
	padding: 0;
	

	



	.team_profiles-grid {
		display: grid;
	}

	.team_profiles-section {
		position: relative;
	

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100px;
			z-index: 99;
		}
	}

	.team_profiles-card {
		text-align: center;
		overflow: hidden;
		position: relative;
		transition: border-color 0.3s ease;


		/* Picture Area */
		.team_profiles-pic {
			display: inline-block;

			position: relative;
			z-index: 1;

			&::before {
				content: "";
				position: absolute;
				bottom: 135%;
				right: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border-radius: 50%;
		
				opacity: 1;
				transform: scale(3);
				transition: all 0.3s linear 0s;
			}

			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border-radius: 50%;
				background: transparent;
				z-index: 1;
				transition: all 0.3s linear 0s;
			}

			img {
				width: 100%;
				height: 100%;
				// object-fit: cover;
				// border-radius: 50%;
				transform: scale(0.7);
				transition: all 0.9s ease 0s;
				box-shadow: 0 0 0 14px var(--team_profiles-bg-hover);
				position: relative;
				z-index: 2;
			}
		}

		/* Hover Effects on Picture */
	
		// &:hover .team_profiles-pic::after {
		// 	background: var(--team_profiles-accent-color);
		// }

		/* Content Area */
		.team_profiles-content {
			margin-bottom: 30px;

			.team_profiles-title {
				font-size: 22px;
				font-weight: 700;
				color: var(--team_profiles-text-color);
				letter-spacing: 1px;
				text-transform: capitalize;
				margin-bottom: 5px;
			}

			.team_profiles-post {
				display: block;
				font-size: 15px;
				color: var(--team_profiles-text-color);
				text-transform: capitalize;
			}
		}

		/* Social Icons Area */
		.team_profiles-social {
			width: 100%;
			padding: 0;
			margin: 0;
			background: var(--team_profiles-secondary-color);
			position: absolute;
			bottom: -100px;
			left: 0;
			transition: all 0.5s ease 0s;
			list-style: none;

			li {
				display: inline-block;

				a {
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 10px;
					font-size: 17px;
					color: #fff;
					text-decoration: none;
					transition: all 0.3s ease 0s;
					line-height: 1;

					&:hover {
						color: var(--team_profiles-secondary-color);
						background: var(--team_profiles-bg-hover);
					}

					svg {
						width: 1em;
						height: 1em;
						fill: currentColor;
					}
				}
			}
		}

		/* Reveal Social Icons on Hover */
		&:hover .team_profiles-social {
			bottom: 0;
		}
	}
}